.testimonials {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: repeat(3, 1fr);
}
.img {
  display: inline-block;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  object-fit: cover;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  flex-direction: column;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  padding: 3.2rem;
}
.title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
  text-transform: capitalize;
}
.text {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
}
/* MD-1000px */
@media (max-width: 63em) {
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.4rem;
    row-gap: 9.6rem;
  }
}
/* MD-600px */
@media (max-width: 38em) {
  .testimonials {
    grid-template-columns: 1fr;
    column-gap: 3.4rem;
    row-gap: 3.6rem;
  }
}
